<nz-breadcrumb class='breadcrumbstyle'>
        <nz-breadcrumb-item><a [routerLink]="['/home']">主页</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>修改密码</nz-breadcrumb-item>
</nz-breadcrumb>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="oldpwd">原密码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input type="text" nz-input formControlName="oldpwd" [(ngModel)]="oldpwd" placeholder="请输入原密码" nzAllowClear>
          <nz-form-explain *ngIf="validateForm.get('oldpwd').dirty && validateForm.get('oldpwd').errors">原密码不能为空！</nz-form-explain>
        </nz-form-control>        

      </nz-form-item>
        <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="newpwd" nzRequired>新密码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input type="password" id="newpwd" formControlName="newpwd" [(ngModel)]="newpwd"  placeholder="请输入新密码" (ngModelChange)="updateConfirmValidator()">
          <nz-form-explain *ngIf="validateForm.get('newpwd').dirty && validateForm.get('newpwd').errors">新密码不能为空！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="repwd" nzRequired>密码确认</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input type="password" formControlName="repwd" id="repwd" [(ngModel)]="repwd" placeholder="请确认密码" >
          <nz-form-explain *ngIf="validateForm.get('repwd').dirty && validateForm.get('repwd').errors">
            <ng-container *ngIf="validateForm.get('repwd').hasError('required')">
                            请确认你的密码!
            </ng-container>
            <ng-container *ngIf="validateForm.get('repwd').hasError('confirm')">
              	你输入的两次密码不一致!
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      
      
      <nz-form-item>
      	<nz-form-control [nzSm]="6" [nzXs]="24" >
      		</nz-form-control>
        <nz-form-control [nzSm]="14" [nzXs]="24" >
          <button nz-button nzType="primary">确认</button>
        </nz-form-control>
      </nz-form-item>
</form>
