.operator a{
    margin-right: 3px;
    color: #1890ff;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color .3s;
    -webkit-text-decoration-skip: objects;
}
 .gutter-box {
        padding: 5px 0;
      }
.ant-select{
    width:100% !important;
}
 .btnadd{
     margin-bottom:10px !important;
     margin-right:10px !important;
     }



::ng-deep .ant-input-group-addon{
    border-top-left-radius:4px !important;
    border-top-right-radius:0px !important;
    border-bottom-right-radius:0px !important;
    border-bottom-left-radius:4px !important;
}

:host ::ng-deep .ant-select-selection{
    border-top-left-radius:0px !important;
    border-bottom-left-radius:0px !important;
}


ul{
    list-style:none;
    padding-left: 0;
}

:host ::ng-deep .ant-card-type-inner .ant-card-body{
    padding: 9px 5px;
}

:host ::ng-deep .ztree {
    width: 100%;
    padding: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

:host ::ng-deep #ztree_9_span{
    width: 70%;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
:host ::ng-deep #ztree_3_span{
    width: 70%;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
:host ::ng-deep #ztree_4_span{
    width: 70%;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
:host ::ng-deep #ztree_5_span{
    width: 70%;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}:host ::ng-deep #ztree_7_span{
    width: 70%;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
:host ::ng-deep #ztree_8_span{
    width: 70%;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
:host ::ng-deep #ztree_11_span{
    width: 70%;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
:host ::ng-deep #ztree_12_span{
    width: 70%;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
:host ::ng-deep #ztree_13_span{
    width: 70%;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
:host ::ng-deep .level2{
    width: 100%;
}