<nz-breadcrumb class='breadcrumbstyle'>
	<nz-breadcrumb-item>
		<a [routerLink]="['/home']">主页</a>
	</nz-breadcrumb-item>
	<nz-breadcrumb-item>
		<a [routerLink]="['/home/role']">角色管理</a>
	</nz-breadcrumb-item>
	<nz-breadcrumb-item>{{pagename}}角色</nz-breadcrumb-item>
</nz-breadcrumb>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
	<nz-form-item>
		<nz-form-label [nzSpan]="3" nzRequired nzFor="name">名称</nz-form-label>
		<nz-form-control [nzSpan]="8">
			<input type="text" nz-input formControlName="name" [(ngModel)]="name" placeholder="请输入角色名称">
			<nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">角色名称不能为空！</nz-form-explain>
		</nz-form-control>
		<nz-form-label [nzSpan]="4" nzRequired nzFor="tips">别名</nz-form-label>
		<nz-form-control [nzSpan]="8">
			<input type="text" nz-input formControlName="tips" [(ngModel)]="tips" placeholder="请输入别名">
			<nz-form-explain *ngIf="validateForm.get('tips').dirty && validateForm.get('tips').errors">别名不能为空！</nz-form-explain>
		</nz-form-control>
	</nz-form-item>
	<nz-form-item>
		<nz-form-label [nzSpan]="3" nzRequired nzFor="num">上级角色</nz-form-label>
		<nz-form-control [nzSpan]="8">
			<nz-select formControlName="pid" [(ngModel)]="pid"  nzPlaceHolder="请选择上级角色">
				<nz-option nzCustomContent [nzValue]="pid" [nzLabel]="pidname">
					<ul id="role" class="ztree"></ul>
				</nz-option>
			</nz-select>
			<nz-form-explain *ngIf="validateForm.get('pid').dirty && validateForm.get('pid').errors">上级角色不能为空！</nz-form-explain>
		</nz-form-control>
		<nz-form-label [nzSpan]="4" nzFor="deptid">部门</nz-form-label>
		<nz-form-control [nzSpan]="8">
			<nz-select formControlName="deptid" [(ngModel)]="deptid"  nzPlaceHolder="请选择部门">
				<nz-option nzCustomContent [nzValue]="deptid" [nzLabel]="deptidname">
					<ul id="depart" class="ztree"></ul>
				</nz-option>
			</nz-select>

		</nz-form-control>
	</nz-form-item>
	<nz-form-item>
		<nz-form-label [nzSpan]="3" nzRequired nzFor="num">排序</nz-form-label>
		<nz-form-control [nzSpan]="8">
			<input type="text" nz-input formControlName="num" [(ngModel)]="num" placeholder="请输入排序">
			<nz-form-explain *ngIf="validateForm.get('num').dirty && validateForm.get('num').errors">排序不能为空！</nz-form-explain>
		</nz-form-control>

	</nz-form-item>
	<nz-form-item>
		<nz-form-control [nzSpan]="8" [nzOffset]="3">
			<button nz-button nzType="primary">确认</button>
		</nz-form-control>
	</nz-form-item>
</form>