.gutter-row{
    margin-bottom: 8px;
}
.ant-select-dropdown-menu-item-active{
    background-color:#fff;
}
::ng-deep .ztree li a.curSelectedNode {
    background-color: transparent;
    opacity: 1;
}
::ng-deep .ant-select-dropdown-menu-item:hover {
    background-color: #fff;
}
