<nz-breadcrumb class='breadcrumbstyle'>
        <nz-breadcrumb-item><a [routerLink]="['/home']">主页</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>用户管理</nz-breadcrumb-item>
 </nz-breadcrumb>
 <div nz-row>
      <div nz-col nzSpan="4">	
      	<nz-card nzType="inner" nzTitle="部门树" [nzExtra]="extraTemplate">
      <ul id="ztree" class="ztree"></ul>
       </nz-card>
      </div>
      
      <div nz-col nzSpan="1"></div>
      
      <div nz-col nzSpan="19">
 <div class="gutter-example">
      <div nz-row nzGutter="16">
        <div nz-col class="gutter-row" nzSpan="12">
          <div class="gutter-box">
          	<nz-input-group nzAddOnBefore="账号" >
			    <input type="text" nz-input [(ngModel)]="account">
			</nz-input-group>
          </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="12">
          <div class="gutter-box">
          	<nz-input-group nzAddOnBefore="名称" >
			    <input type="text" nz-input [(ngModel)]="name">
			</nz-input-group>
          </div>
        </div>
      </div>
      </div>
      <div class="gutter-example">
      <div nz-row nzGutter="16">
        <div nz-col class="gutter-row" nzSpan="12">
          <div class="gutter-box">
          	<nz-input-group nzAddOnBefore="电话" >
			    <input type="text" nz-input [(ngModel)]="phone">
			</nz-input-group>
          </div>
        </div>
      </div>
    </div>
<button nz-button *ngIf='showadd' (click)="add()" class="editable-add-btn btnadd" ><i class="anticon anticon-plus ng-star-inserted" style="display: inline-block;"></i>新增</button>
<button nz-button (click)="search()" class="editable-add-btn btnadd"><i class="anticon anticon-search" style="display: inline-block;"></i>查询</button>
<!--<button nz-button (click)="EditRow()" class="editable-add-btn btnadd" ><i class="anticon anticon-edit" style="display: inline-block;"></i>编辑</button>
<nz-popconfirm [nzTitle]="'确定删除吗?'" (nzOnConfirm)="deleteRow()">
    <button nz-button class="editable-add-btn btnadd"><i class="anticon anticon-close" style="display: inline-block;"></i>删除</button>
</nz-popconfirm>

-->
<button nz-button (click)="freeze()" class="editable-add-btn btnadd" ><i class="anticon anticon-warning" style="display: inline-block;" *ngIf='pcUser_freeze'></i>冻结</button>
<button nz-button (click)="unfreeze()" class="editable-add-btn btnadd"><i class="anticon anticon-check-circle-o" style="display: inline-block;" *ngIf='pcUser_unfreeze'></i>解除冻结</button>
<button nz-button (click)="role()" class="editable-add-btn btnadd" ><i class="anticon anticon-user" style="display: inline-block;" *ngIf='to_assign_role'></i>角色分配</button>

<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisibleMiddle" nzTitle="角色分配 -- {{sUsername}}" (nzOnCancel)="handleCancelMiddle()" (nzOnOk)="handleOkMiddle()">
	  <ul id="ztreerole" class="ztree"></ul>
</nz-modal>

<nz-table
      #ajaxTable
      nzShowSizeChanger
      nzBordered
      [nzFrontPagination]="false"
      [nzData]="dataSet"
      [nzLoading]="loading"
      [nzTotal]="total"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="searchData(pageIndex,pageSize)"
      (nzPageSizeChange)="searchData(pageIndex,pageSize)">
      <thead (nzSortChange)="sort($event)">
        <tr>
          <th></th>
          <th>部门名称</th>
          <th>账号</th>
          <th>角色名</th>
          <th>名字</th> 
          <th>性别</th>
          <th>电话</th>
          <th>邮箱</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of ajaxTable.data;let i=index">
          <td align="center"><input type="radio"  name='user' [value]='data.id' [(ngModel)]="sUser"/></td>
          <td>{{data.deptname}}</td>
          <td>{{data.account}}</td>
          <td>{{data.rolename}}</td>
          <td>{{data.username}}</td>
          <td>{{data.sex== 1? "男" : "女"}}</td>
          <td>{{data.phone}}</td>
          <td>{{data.email}}</td>
          <td>{{data.status== 1? "启用" : "冻结"}}</td>
          <td class='operator'>  
            <a (click)="EditRow(data.id)" *ngIf='pcUser_detail'>详情</a>
            <nz-popconfirm [nzTitle]="'确定删除吗?'" (nzOnConfirm)="deleteRow(data.id)">
              <a *ngIf='pcUser_delete' nz-popconfirm>删除</a>
            </nz-popconfirm>
          </td>
        </tr>
      </tbody>
    </nz-table>
    
    </div>
    </div>
