<nz-layout>
	<nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate" style="margin-top:64px;overflow-y: scroll;">

		<ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
			<!--[routerLink]="['../home/buttons']"-->
			<li nz-submenu *ngFor='let item of menu'>
				<span title><i class="anticon {{item.icon}}"></i><span class="nav-text">{{item.name}}</span></span>
				<ul>
					<li nz-menu-item *ngFor='let citem of item.children' (click)="gorouter(citem.url)">{{citem.name}}</li>
				</ul>
			</li>
		</ul>
	</nz-sider>
	<nz-layout>
		<nz-header class='header'>
			<div class="logo">
				<a ng-reflect-router-link="/" href="#/">
					<img class="expanded" src="./assets/img/logo-full.svg" style="max-height:40px;" alt="Alain">
					<img class="collapsed" src="./assets/img/logo.svg" style="max-height:30px;" alt="Alain">
				</a>
			</div>

			<div class="top-nav-wrap">
				<i class="anticon trigger" style="color: white;" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
				<ul class="top-nav">
					<li>
						<nz-dropdown nzPlacement="bottomRight">
							<div class="item d-flex align-items-center px-sm colorwhite" nz-dropdown>
								<nz-avatar nzSrc="{{avatar}}" nzSize="default" class="mr-sm"></nz-avatar>
								{{name}}
							</div>
							<div nz-menu class="width-sm">
								<!--<div nz-menu-item [nzDisabled]="true"><i class="anticon anticon-user mr-sm"></i> 个人中心</div>-->
								<div nz-menu-item (click)="cPassword()"><i class="anticon anticon-lock mr-sm"></i> 修改密码</div>
								<li nz-menu-divider></li>
								<div nz-menu-item (click)="logout()"><i class="anticon anticon-logout mr-sm"></i> 退出登录</div>
							</div>
						</nz-dropdown>
					</li>
				</ul>
			</div>

		</nz-header>
		<nz-content #content style="margin:86px 16px 16px 16px;padding:16px; background:#fff;">
			<router-outlet></router-outlet>	 
		</nz-content>
		
		<nz-footer style="text-align: center;">修匠 ©2018 修匠</nz-footer>
	</nz-layout>
</nz-layout>
<ng-template #trigger>
	<i class="anticon anticon-up"></i>
</ng-template>
<!--<nz-back-top [nzTarget]="content"></nz-back-top>-->	 